{% extends "zhuye.html" %}
{% block content %}
   <table id="__01" width="798" height="679" border="0" cellpadding="0" cellspacing="0">
  <tr>
	<td>
	<table width="798" height="216" border="0" cellpadding="0" cellspacing="0">
      <tr>
	   <td>
	  <table  id="__01" width="510" height="216" border="0" cellpadding="0" cellspacing="0">
        <tr>
	      <td>
		    <img src="/site_media/jianjie.jpg" width="90" height="25" alt="" /></td>

        </tr>
        <tr>
	
		 <td  width="510" height="191" background="/site_media/index42117.jpg" valign="top" style="padding:10px;">
&nbsp;&nbsp;&nbsp; 校园超市连锁、学生服装、后勤管理服务学校教育装备、教育培训服务、文化用品、学校食堂经营与管理、学校用车、礼宾服务、教育咨询服务、教育人力资源服务、教育图书批发与销售。 
         </td>
        </tr>
        
      </table></td>
       <td>
      <table id="__01" width="288" height="216" border="0" cellpadding="0" cellspacing="0">
          <td>
    			<img src="/site_media/20100906111032465.jpg" width="288" height="216" alt="" /></td>
      </table></td>
    </table>
  </tr>
  <tr>
      <td> 
          <table width="798" border="0" cellpadding="0" cellspacing="0">
          	<tr>
          		<td width="17" height="19"></td>
          		<td>
          			<img src="/site_media/2133q.jpg" width="92" height="25" alt="" /></td>
          	</tr>
          	<tr>
          	    		<td colspan="5" width="765" height="193"><table width="750" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="185">

                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                          <tr align="center"> 
                                            <td>&nbsp;</td>
                                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                <a href="rshow.asp?ID=88" target='_blank'><img src='/site_media/20100906111343629.jpg'width=169 height=166></a>


                                              </div></td>

                                          </tr> 
                                </table></td>
                            <td width="189">        
                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr align="center"> 
                                        <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                        <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                <a href="rshow.asp?ID=88" target='_blank'>商品展示</a></div></td>
                                    </tr> </table>

                                     <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                          <tr align="center"> 
                                            <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                <a href="rshow.asp?ID=83" target='_blank'>新品推荐哦！</a>


                                              </div></td>

                                          </tr> </table>
                           </td>
                           <td width="185">


                                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                     <tr align="center"> 
                                                       <td>&nbsp;</td>
                                                       <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                           <a href="rshow.asp?ID=89" target='_blank'><img src='/site_media/20100906111449265.jpg' width=169 height=166></a>


                                                         </div></td>

                                                     </tr> </table>




                                       </td>
                                       <td width="191">
                                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                     <tr align="center"> 
                                                       <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                                       <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                           <a href="rshow.asp?ID=89" target='_blank'>商品店面展示</a>


                                                         </div></td>

                                                     </tr> </table>

                                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                     <tr align="center"> 
                                                       <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                                       <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                           <a href="rshow.asp?ID=82" target='_blank'>成员推荐</a>


                                                         </div></td>

                                                     </tr> </table>
                                      </td>
                                     </tr>
                                   </table></td>
                                   
          </table>
      	<tr>
      		<td>
      	  <table width="798" border="0" cellpadding="0" cellspacing="0">
      	<tr>
      	    <td>
            			<a href="mshow.asp"><img src="/site_media/mendian.jpg" width="798" height="34" alt="" /></a></td>       
            </table>
          <table width="770" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                          <tr>        

                                  <td width="15%" height="110"> 
            						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="140">
            							<a href="shownews.asp?ID=121"><img src='/site_media/201096105750265.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                      </tr>
                                      <tr><td align="center">                       
            	<a href="shownews.asp?ID=121">门店展示7</a>

                 </td></tr>
                                    </table>
                                    </td>

                                  <td width="15%" height="110"> 
            						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="140">
            							<a href="shownews.asp?ID=120"><img src='/site_media/20109611021455.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                      </tr>
                                      <tr><td align="center">                       
            	<a href="shownews.asp?ID=120">门店展示6</a>

                 </td></tr>
                                    </table>
                                    </td>

                                  <td width="15%" height="110"> 
            						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="140">
            							<a href="shownews.asp?ID=119"><img src='/site_media/20109610598867.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                      </tr>
                                      <tr><td align="center">                       
            	<a href="shownews.asp?ID=119">门店展示5</a>

                 </td></tr>
                                    </table>
                                    </td>

                                  <td width="15%" height="110"> 
            						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="140">
            							<a href="shownews.asp?ID=118"><img src='/site_media/2010961172429.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                      </tr>
                                      <tr><td align="center">                       
            	<a href="shownews.asp?ID=118">门店展示4</a>

                 </td></tr>
                                    </table>  
                          </tr>
            </table>
   </table></td>
{% endblock %}