<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<style type="text/css">
A{TEXT-DECORATION: none;}
A:hover{COLOR: #CC0000;}
A:link {color: #000000;}
A:visited {color: #000000;}
BODY
{
FONT-SIZE: 9pt;background:#eeeeee

}
TD
{
FONT-FAMILY:宋体;FONT-SIZE: 9pt;line-height: 150%; 

}
Input
{
BACKGROUND-COLOR: #f6f6f6; 
BORDER-BOTTOM: #89a5e6 1px solid;
BORDER-LEFT: #89a5e6 1px solid;
BORDER-RIGHT: #89a5e6 1px solid;
BORDER-TOP: #89a5e6 1px solid;
COLOR: #000000;
border-color: #bfbfbf #bfbfbf #bfbfbf #bfbfbf; font-size: 9pt
}
Button
{
FONT-SIZE: 9pt;HEIGHT: 20px; 

}
Select
{
FONT-SIZE: 9pt;HEIGHT: 20px;

}
.border
{
border: 1px solid #9E9B9D;

}
.border2
{
background:#ffffff;BORDER-bottom: #bfbfbf 1px solid; 
}
.FootBg
{
background:#DFDDDE;
}
.title
{
background:url(Skin/13/head_bg.GIF);height: 33;

}
.tdbg
{
background:#DFDDDE;
}
.txt_css
{
background:url(Skin/13/txt_css.gif);height: 36;
}
.title_lefttxt
{

}
.title_left
{
background:url(Skin/13/left_bg.gif);height: 34;
}
.tdbg_left
{
background:#ECEBEC;
border: 1px solid #9E9B9D;

}
.title_left2
{
background: url(SKIN/13/tdbg_left2.gif);height:26;
}
.tdbg_left2
{
background: url(SKIN/13/bg_1.gif);
}
.tdbg_leftall
{
background:#f7f7f7;
}
.title_righttxt
{
filter:DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1)

}
.title_right
{
background:url(Skin/13/labe_menu_bg.gif);height: 30;
}
.tdbg_right
{
background:url(Skin/13/Right_bg.gif);line-height: 100%;

}
.title_right2
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	background-image: url(Images/button.gif);
	background-repeat: no-repeat;
	background-position: 20px;
}
.tdbg_right2
{
background:url(Skin/13/tdbg_main3.GIF);height: 27;
}
.tdbg_rightall
{
height: 27;background:url(Skin/13/kt01-p1.GIF);
}
</style>
<HTML lang="en">
<head>
    <title>中华书店</title>
</head>
<body>
<table width="996" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td><img src="/site_media/index12.jpg"width="996" height="156" alt="" /></td>
</tr>
</table>
<table width="996" height="29" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
		<td>
			<a href="/"><img src="/site_media/index21.gif" width="111" height="29" alt="" /></a></td>
		<td>
			<a href="jianjie"><img src="/site_media/index22.gif" width="110" height="29" alt="" /></a></td>
		<td>
			<a href="qiyewenhua"><img src="/site_media/index23.gif" width="111" height="29" alt="" /></a></td>
		<td>
			<a href="guanli"><img src="/site_media/index24.gif" width="111" height="29" alt="" /></a></td>
		<td>
			<a href="mendianshow"><img src="/site_media/index25.gif" width="110" height="29" alt="" /></a></td>
<td>
			<a href="houqing"><img src="/site_media/index26.gif" width="111" height="29" alt="" /></a></td>
<td>
			<a href="liuyan"><img src="/site_media/index27.gif" width="111" height="29" alt="" /></a></td>
		<td>
			<a href="jiameng"><img src="/site_media/index28.gif" width="110" height="29" alt="" /></a></td>
<td>
			<a href="lianxi"><img src="/site_media/index29.gif" width="111" height="29" alt="" /></a></td>
</tr>
    <tr>
		<td width="996" height="15" colspan="9"></td>
	</tr>
</table>

<link href="Images/common.css" rel="stylesheet" type="text/css">
<link href="Images/tree.css" rel="stylesheet" type="text/css" />


<table width="996" border="0" align="center" cellpadding="0" cellspacing="0" >
 <tr>
	<td valign="top" width="198">
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td>
	 <table  width="198" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="/site_media/index411.gif" width="198" height="15" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/site_media/index412.gif" width="7" height="171" alt="" /></td>
		<td>
			<img src="/site_media/index413.jpg" width="179" height="49" alt="" /></td>
		<td rowspan="2">
			<img src="/site_media/index414.gif" width="12" height="171" alt="" /></td>
	</tr>
    <tr>
    		<td width="179" height="122" background="/site_media/index415.gif" style=" padding-left:15px;">
    <P><STRONG><FONT style="FONT-SIZE: 10.5pt">电话：<BR></FONT></STRONG><FONT style="COLOR: #ff0000; FONT-SIZE: 10.5pt"><STRONG>***-*******<BR>***-*******</STRONG></FONT></P>
    <P><STRONG><FONT style="FONT-SIZE: 10.5pt">E-MAIL:<BR><FONT style="COLOR: #ff0000; FONT-SIZE: 10.5pt">xxxxxxx@xxxx.com</FONT></FONT></STRONG></P> 
    		</td>
    </tr>
    	<tr>
    		<td colspan="3">
    			<img src="/site_media/index416.gif" width="198" height="21" alt="" /></td>
    	</tr>
     </table>
        </td>
    </tr>
       <tr><td>
        <a href="gongsidongtai"><img src="/site_media/gongsidongtai.jpg" width="198" height="33" alt="" /></a></td>
       </tr>
        <tr>
        		<td>
        			<img src="/site_media/index442.gif" width="198" height="94" alt="" /></td>
        </tr>
        	<tr>
        		<td width="198" height="74" >

                             <table width="100%" border="0" cellspacing="1" cellpadding="0">
                       <tr align="center"> 
                <td width="91%"> <div align="left" style="margin-bottom:4px;">                          	

                           <a href="shownews.asp?ID=108" target='_blank'>四川公司总部</a></div></td>
                       </tr>
                             </table>

                    <table width="198" border="0" cellpadding="0" cellspacing="0">
                           	<tr>
    <td>
        <a href="zhaoshang"><img src="/site_media/zhaoshang.jpg" width="198" height="33" alt="" /></a></td>
                            </tr>
                           
                           <tr align="center"> 
                                   <td width="74%"> <div align="left" style="margin-bottom:4px;">                          	

                              <a href="shownews.asp?ID=108" target='_blank'>加盟热线</a></div></td>
                           </tr>
                            <tr align="center"> 
                             <td width="74%"> <div align="left" style="margin-bottom:4px;">                          	

                                 <a href="shownews.asp?ID=108" target='_blank'>招商政策</a></div></td>
                            </tr>
                    </table>
                                 <table width="198" border="0" cellpadding="0" cellspacing="0">
                            	<tr>
     <td>
         <a href="zhaoshang"><img src="/site_media/youqing.jpg" width="198" height="33" alt="" /></a></td>
                                </tr>

                            <tr align="center"> 
                                <td colspan="4" width="198" height="93" style="padding-left:8px;">
                                    <div style="float:left; margin-bottom:4px;">

                               <a href="shownews.asp?ID=108" >我的主页</a></div></td>
                            </tr>
                             <tr align="center"> 
                                       <td > <div style="float:left; margin-bottom:4px;">                          	

                                  <a href="zhuye" target='_blank'>四川公司主页</a></div></td>
                             </tr>

                             </table></td>
            </tr>
          </table></td>
    

    

                                  
    <td>
       <table id="__01" width="798" height="679" border="0" cellpadding="0" cellspacing="0">
      <tr>
  		<td>
  		<table width="798" height="216" border="0" cellpadding="0" cellspacing="0">
  	      <tr>
  		   <td>
  		  <table  id="__01" width="510" height="216" border="0" cellpadding="0" cellspacing="0">
  	        <tr>
  		      <td>
  			    <img src="/site_media/jianjie.jpg" width="90" height="25" alt="" /></td>

  	        </tr>
            <tr>
    	
    		 <td  width="510" height="191" background="/site_media/index42117.jpg" valign="top" style="padding:10px;">
    &nbsp;&nbsp;&nbsp; 校园超市连锁、学生服装、后勤管理服务学校教育装备、教育培训服务、文化用品、学校食堂经营与管理、学校用车、礼宾服务、教育咨询服务、教育人力资源服务、教育图书批发与销售。 
             </td>
            </tr>
            
          </table></td>
           <td>
          <table id="__01" width="288" height="216" border="0" cellpadding="0" cellspacing="0">
              <td>
        			<img src="/site_media/20100906111032465.jpg" width="288" height="216" alt="" /></td>
          </table></td>
        </table>
      </tr>
      <tr>
          <td> 
              <table width="798" border="0" cellpadding="0" cellspacing="0">
              	<tr>
              		<td width="17" height="19"></td>
              		<td>
              			<img src="/site_media/2133q.jpg" width="92" height="25" alt="" /></td>
              	</tr>
              	<tr>
              	    		<td colspan="5" width="765" height="193"><table width="750" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tr>
                                <td width="185">

                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                              <tr align="center"> 
                                                <td>&nbsp;</td>
                                                <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                    <a href="rshow.asp?ID=88" target='_blank'><img src='/site_media/20100906111343629.jpg'width=169 height=166></a>


                                                  </div></td>

                                              </tr> 
                                    </table></td>
                                <td width="189">        
                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr align="center"> 
                                            <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                    <a href="rshow.asp?ID=88" target='_blank'>商品展示</a></div></td>
                                        </tr> </table>

                                         <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                              <tr align="center"> 
                                                <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                                <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                    <a href="rshow.asp?ID=83" target='_blank'>新品推荐哦！</a>


                                                  </div></td>

                                              </tr> </table>
                               </td>
                               <td width="185">


                                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                         <tr align="center"> 
                                                           <td>&nbsp;</td>
                                                           <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                               <a href="rshow.asp?ID=89" target='_blank'><img src='/site_media/20100906111449265.jpg' width=169 height=166></a>


                                                             </div></td>

                                                         </tr> </table>




                                           </td>
                                           <td width="191">
                                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                         <tr align="center"> 
                                                           <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                                           <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                               <a href="rshow.asp?ID=89" target='_blank'>商品店面展示</a>


                                                             </div></td>

                                                         </tr> </table>

                                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                         <tr align="center"> 
                                                           <td><img src="Img/arrow_6.gif" width="11" height="11"></td>
                                                           <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	

                               <a href="rshow.asp?ID=82" target='_blank'>成员推荐</a>


                                                             </div></td>

                                                         </tr> </table>
                                          </td>
                                         </tr>
                                       </table></td>
                                       
              </table>
          	<tr>
          		<td>
          	  <table width="798" border="0" cellpadding="0" cellspacing="0">
          	<tr>
          	    <td>
                			<a href="mshow.asp"><img src="/site_media/mendian.jpg" width="798" height="34" alt="" /></a></td>       
                </table>
              <table width="770" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                              <tr>        

                                      <td width="15%" height="110"> 
                						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                          <tr>
                                            <td width="140">
                							<a href="shownews.asp?ID=121"><img src='/site_media/201096105750265.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                          </tr>
                                          <tr><td align="center">                       
                	<a href="shownews.asp?ID=121">门店展示7</a>

                     </td></tr>
                                        </table>
                                        </td>

                                      <td width="15%" height="110"> 
                						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                          <tr>
                                            <td width="140">
                							<a href="shownews.asp?ID=120"><img src='/site_media/20109611021455.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                          </tr>
                                          <tr><td align="center">                       
                	<a href="shownews.asp?ID=120">门店展示6</a>

                     </td></tr>
                                        </table>
                                        </td>

                                      <td width="15%" height="110"> 
                						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                          <tr>
                                            <td width="140">
                							<a href="shownews.asp?ID=119"><img src='/site_media/20109610598867.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                          </tr>
                                          <tr><td align="center">                       
                	<a href="shownews.asp?ID=119">门店展示5</a>

                     </td></tr>
                                        </table>
                                        </td>

                                      <td width="15%" height="110"> 
                						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                                          <tr>
                                            <td width="140">
                							<a href="shownews.asp?ID=118"><img src='/site_media/2010961172429.jpg' border=0 width=172 height=148 alt='门店展示'> </a></td>
                                          </tr>
                                          <tr><td align="center">                       
                	<a href="shownews.asp?ID=118">门店展示4</a>

                     </td></tr>
                                        </table>  
                              </tr>
                </table>
       </table></td>
    </td>
 </tr>
</table>

<table width="996" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
		<td>
			<img src="/site_media/index5.gif" width="996" height="42" alt="" /></td>
	</tr>
    <tr>
	  <td width="996" height="113">
	    <div align="center">版权所有:中华书店 蜀ICP备xxxxxxxx号<br>		  电话：xxx-xxxxxxx 传真：xxx-xxxxxxxx   手机：xxxxxxxxxxx  邮箱：xxxxxxx@xxx.com  网站合作QQ：xxxxxxxxx<br> 		  地址：天堂路1号楼1号 技术支持：七九工作室</div></td>
	</tr>
</table>
</body>
</html>
